*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
    font-size: 16px;
    background-color: #ffffff;
    font-family: 'Oxygen', sans-serif;
  }

  .Menu-icon{
    display: none;
  }

  .top-area-contacts    {
    display:block;
    inline-size: 100%;
    text-align: end;
    position: absolute;

  }

  .ss-contacts-address{
    inline-size: 55%;
    position: absolute;
  }

   .ss-contacts-phone{
    inline-size: 70%;
    position: absolute;
   }

   .ss-contacts-email{
   inline-size: 95%;
   }

  #header-nav {
    background-color: #bebebe;
    border-radius: 0;
    border: 0;
    inline-size: 100%;
    block-size: 180px;
    justify-content: space-between;
    position: absolute;
  }

  #logo-img {
    background: url('./image/mew.png') no-repeat;
    block-size :200px;
    margin: 1px  -10px -40px;
  }

  .navbar-brand {
    padding-block-start: 2px;
  }

  .navbar-brand p { 
    text-shadow: 1px 1px 1px #00ff00;
    font-family:Arial, Helvetica, sans-serif ;
    line-height:0;
    margin-block-end:0;
    color: #0000ff;
    text-transform: uppercase;
    font-size: 0.9em;
    margin-block-start: 15px;
    font-weight: bold;
    margin: -10px 270px 1px;
  }

  .nav-list{
    margin: -60px 550px ;
  }

  .nav-list ul {
   display: flex;
  }

  .nav-list ul li a {
    text-align: center;
    display: flex;
    font-size: 15px;
    padding: 10px 23px;
    border-radius: 10px;
    transition: 0.2s;
    margin: 1px 8px 1px;
    color:#0000ff;
    background-color: #ffffff;
    margin-block-start:25px;
  }

  .nav-list ul li a:hover{
    color: #00ff00;
    background-color: #ffffff;
  }

  .nav-list ul li a:active{
    text-shadow: 1px 1px 1px #00ff00;
    color:#00ff;
  }

  @media only screen and (max-inline-size:1320px) {
    #header-nav{
      padding: 0 50px;
  }
 }

 @media only screen and (max-inline-size:1100px) {
  #header-nav{
    padding: 0 30px;    
 }
 .nav-list{
  margin:0 ;
 }
}

@media only screen and (max-inline-size:1025px) {
  .Menu-icon{
   display: block;
   cursor: pointer;
  } 

  .Menu-icon .line{
    background-color: #00ff00;
    margin: 6px 0;
    inline-size:30px;
    block-size: 4px;
  }

  #contacts{
    display: none;
  }

  .nav-list{
    block-size: 0;
    position: absolute;
    inset-block-start: 80px;
    inset-inline-start: 0;
    inset-inline-end: 0;
    inline-size: 100vw;
    background-color: #00ff00;
    transition: 0.2s;
    overflow: hidden;
  }
   .nav-list .active{
    block-size: 550px;
   }

   .nav-list .active ul{
    opacity: 1;
   }

  .nav-list ul{
    display: block;
    inline-size: fit-content;
    margin:80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }

   .nav-list ul li a{
   margin-block-end: 12px;
   color: #00ff00;
   }
 }



